extends layout

block content
  h1 #{title}
  block graph
    include graph
  block table
    table.table
      thead
        td Actions
        td Market Number
        td Procedure Type
        td TTC Amount
        td Market Object
        td Nomenclature Code
        td Service Type
        td Service Provider
        td Managing Service
        td Market Coverture
        td Juridic Safety
      tbody
      each mandate in mandate_list
        tr
          td
            a(href=mandate.url).btn.btn-primary
              span.glyphicon.glyphicon-search
            a(href=mandate.url+'/update').btn.btn-default
              span.glyphicon.glyphicon-pencil
            a(href=mandate.url+'/delete').btn.btn-danger
              span.glyphicon.glyphicon-remove
          td #{mandate.market_number}
          td #{mandate.procedure_type}
          td #{mandate.ttc_amount}
          td #{mandate.market_object}
          td #{mandate.nomenclature_code}
          td #{mandate.service_type}
          td #{mandate.service_provider}
          td #{mandate.managing_service}
          td 
            span(class=mandate.market_coverture ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove')
          td
            span(class=mandate.juridic_safety ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove')

